body {
    background-color: black;
    overflow: hidden;
}
#D {
    position: relative;
    color: red;
    font-size: 70px;
    bottom: 100px;
    left: 428px;
}


::selection {
    background-color: rgba(70, 130, 180, 0.5);
}
.red {
    position: relative;
    color: red;
    font-size: 40px;
    bottom: 312px;
    left: 531px;
}
#M {
    position: relative;
    color: blue;
    bottom: 475px;
    left: 694px;
    font-size: 100px;
}
.blue {
    position: relative;
    color: blue;
    font-size: 50px;
    bottom: 620px;
    left: 790px;
}
.redc {
    position: relative;
    color: red;
    bottom: 639px;
    left: 511px;
    font-size: 25px;
}
.bluec {
    position: relative;
    color: blue;
    font-size: 25px;
    bottom: 695px;
    left: 587px;
}
.greenc {
    position: relative;
    color: green;
    font-size: 25px;
    bottom: 752px;
    left: 688px;
}
#join {
    position: relative;
    background-color: red;
    border: 4px solid white;
    cursor: pointer;
    height: 15vh;
    width: 15%;
    bottom: 648px;
    left: 523px;
}
#join:hover {
    filter: brightness(0.8);
}
@media (max-width: 900px) {
    body {
        overflow: hidden;
    }
    #D {
        left: 228px;
    }
    .red {
        left: 331px;
    }
    #M {
        left: 494px;
    }
    .blue {
        left: 590px;
    }
    .redc {
        left: 311px;
    }
    .bluec {
        left: 387px;
    }
    .greenc {
        left: 488px;
    }
    #join {
        left: 323px;
        width: 20%;
    }
@media (max-width: 700px) {
    body {
        overflow: hidden;
    }
    #D {
        left: 028px;
    }
    .red {
        left: 131px;
    }
    #M {
        left: 294px;
    }
    .blue {
        left: 390px;
    }
    .redc {
        left: 111px;
    }
    .bluec {
        left: 187px;
    }
    .greenc {
        left: 288px;
    }
    #join {
        left: 123px;
        width: 20%;
    }
}
@media (max-width: 590px) {
    body {
        overflow: hidden;
    }
    #D {
        left: 018px;
    }
    .red {
        left: 121px;
    }
    #M {
        left: 024px;
        bottom: 375px;
    }
    .blue {
        left: 120px;
        bottom: 520px;
    }
    .redc {
        left: 001px;
        bottom: 439px;
    }
    .bluec {
        left: 077px;
        bottom: 495px;
    }
    .greenc {
        left: 178px;
        bottom: 552px;
    }
    #join {
        left: 013px;
        width: 30%;
        bottom: 448px;
    }
    }
}
